img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
 .left{
    width: 20%;
    float: left;
    background-color: rgb(214, 201, 181);
 }

 .right{
    width: 70%;
    float: right;
    background-color: rgb(190, 185, 168);
 }